<!DOCTYPE html>

<html>
    <head>
        <title> django + socketio test </title>
        {%csrf_token%}
        {% load staticfiles %} 
        <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
        <script src="{% static 'js/socket.io.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-1"> </div>
                <div class="col-md-10 title text-center">
                    <h1> django+socket.io test </h1>
                </div>
                <div class="col-md-1"> </div>
            </div>
        </div>
        <div class="container not-area">
            <div class="row not-area-row">
                <div class="col-md-1"> </div>
                <div id="notifications" class="col-md-10">
                </div>
                <div class="col-md-1"> </div>
            </div>
            <div class="row">
                <div class="col-md-1"> </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="msg-input"/> 
                </div>
                <div class="col-md-1"> </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/index.js' %}"></script>
</html>


