/*
 * style for index.html
 *
 */

html, body {
    height:100%;
}

.title {
    background-color: #BFBFBF;
}

.not-area {
    min-height: 70%;
    height: 70%;
}
.not-area-row {
    min-height: 100%;
    height: 100%;
}

#notifications {
    display: block;
    height: 100%;
}
